@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "PasswordRecovery";
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "submitform", role = "form" }))
{
    @Html.AntiForgeryToken()
    <div class="alert alert-info show hidden" id="EmailConfirmation">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <h1><strong>Forgot Password Confirmation.</strong></h1>
        <strong>Info!</strong> Please check your email to reset your password.
    </div>
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>PASSWORD RECOVER</h3>
                    <small>Please fill the form to recover your password</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <p>
                            Enter your email address and your password will be reset and emailed to you.
                        </p>
                        <form action="#" id="loginForm">
                            <div class="form-group">
                                <label class="control-label" for="username">Email</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you email adress" required="" value="" name="Email" id="Email" class="form-control">
                                <span class="help-block small">Your registered email address</span>
                            </div>
                            <button class="btn btn-success btn-block" type="submit" id="btnGetpsd">Get password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>Vrecruit</strong> - Responsive WebApp <br /> 2019 Copyright Vrecruit
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/custom/Password.js"></script>