@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Link Expired";
}

<div class="error-container">
    <i class="pe-7s-close-circle text-success big-icon"></i>
    <h1>Exam Expired</h1>
    <strong> You already attempted this exam. If you wish to give an exam again, Please, co-oridnate with HR team.</strong>
</div>
