@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "InterviewCompleted";
}

<div class="error-container">
    @*<i class="pe-7s-close-circle text-success big-icon"></i>*@   
    @*<i class=".pe-7s-open-circle text-success big-icon"></i>*@
    <img src="~/Images/Success.jpg" />
    <h1>Interview Completed</h1>
    <strong>Thank you for attending the Interview. Our HR will contact you soon</strong>
</div>
