@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Invalid Link";
}

<div class="error-container">
    <i class="pe-7s-close-circle text-success big-icon"></i>
    <h1>Invalid Link</h1>
    <strong> It's a Invalid Link <br />Please, co-oridnate with HR team to issue a new Link.</strong>
</div>
