@{
    Layout = "~/Views/Shared/_Layout_Blank.cshtml";
    ViewBag.Title = "Video Link Expired";
}

<div class="error-container">
    <i class="pe-7s-close-circle text-success big-icon"></i>
    <h1>Introduction Video Link Expired</h1>
    <strong> You have already attempted Introduction Video. <br /> If you wish to upload a Introduction Video again, <br />Please, co-oridnate with HR team to issue a new Link.</strong>
</div>
